[submodule "cuda"]
	path = cuda
	url = git@github.com:naist-ubi/ansible-cuda.git
[submodule "chainer"]
	path = chainer
	url = git@github.com:naist-ubi/ansible-chainer.git
[submodule "python"]
	path = python
	url = git@github.com:naist-ubi/ansible-python.git
[submodule "digits"]
	path = digits
	url = git@github.com:naist-ubi/ansible-nvidia-digits.git
